<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ book.title }}</title>
</head>
<body>
  <h1>{{ book.title }}</h1>
  <h2>{{ book.author }}</h2>
  <br>
  <p> Год: {{ book.year }}</p>
  <p> Рейтинг: {{ book.raiting }}</p>

  <p> Издатель: {{ book.publisher.title }}</p>
  <p> Язык: {{ book.publisher.get_language_display }}</p>

  {% if book.genre %}
  <p> Жанр: {{ book.genre.title }}</p>
  {% else %}
  <p> Жанр: Не указан</p>
  {% endif %}
  <p>время публикации на сайте: {{book.created_at}} </p>


  <p> Теги: </p>
  {% for tag in book.tags.all %}
  <b><a href="{% url 'get_tag_books' tag.title %}">{{ tag.title }}</a></b>
  {% endfor %}

  <br>
  <h3>Можно удалить книгу</h3>
  <a href="{% url 'delete_book' book.id%}"> удаляем книгу</a>

  <br>
  <a href="{% url 'books' %}"><input type="button" value="назад"></a>

</body>
</html>