<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Books</title>
</head>
<body>
     <form action="{% url 'search_book' %}" method="get">
        {% csrf_token %}
        <input placeholder="введите название книги"  type="text" name="title">
        <input placeholder="введите жанр'" type="text" name="genre">
        <input type="submit" value="OK">
    </form>

     <h1>
        Список книг

    </h1>

    {% for book in books %}
    <p>
        Назввание: <a href="{% url 'get_book' book.id %}">
            {{book.title}}
        </a>
    </p>
    <p>Автор: {{book.author}}</p>
    <p>Жанр: {{book.genre.title}}</p>
     <p>Год: {{book.year}}</p>
    <br>

    {%endfor%}

    <a href="{% url 'add_book' %}"><input type="button" value="Добавить книгу"></a>
</body>
</html>