<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All Posts with Tags</title>
</head>
<body>

    <form action="{% url 'search_post' %}" method="get">
        {% csrf_token %}
        <input placeholder="Введите название поста" type="text" name="title">
        <input placeholder="Введите категорию" type="text" name="category">
        <input type="submit" value="OK">
    </form>

  <h1>All Posts with Tags</h1>

    <h2>All Posts</h2>

      <ul>
          {% for post in posts %}
          <li><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></li>
          {% endfor %}
      </ul>

    <h2>All Tags</h2>

      <ul>
          {% for tag in tags %}
          <li><a href="{{ tag.get_absolute_url }}">{{ tag.title }}</a></li>
          {% endfor %}
      </ul>

    <h2>All Category</h2>

      <ul>
          {% for category_post in category_posts  %}
          <li>{{ category_post.title }}</li>
          {% endfor %}
      </ul>

    <a href="{% url 'create_post' %}"><input type="button" value="Добавить пост"></a>
</body>
</html>