<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ post.title }}</title>
</head>
<body>



  <h1>{{ post.title }}</h1>

  <p>Категория: {{ post.category }}</p>

  <p>{{ post.description }}</p>

  <p>Теги:</p>

  {% if post.tags.all %}
      <ul>
      {% for tag in post.tags.all %}
          <li><a href="{{ tag.get_absolute_url }}">{{ tag.title }}</a></li>
      {% endfor %}
      </ul>
  {% else %}
      <p>Тегов нет</p>
  {% endif %}

  <br>
  <h3>Можно удалить пост</h3>
  <a href="{% url 'delete_post' post.id%}"> удаляем пост</a>
  <br>
  <a href="{% url 'get_posts' %}"><input type="button" value="назад"></a>

</body>
</html>