<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>поиск поста</title>
</head>
<body>
    <h1>Поиск поста</h1>

    {% if posts %}
    {% for post in posts %}
        <ol>Название: <a href="{{ posts.get_absolute_url }}">{{ post.title }}</a>
            <li>категория: {{ post.category }}</li>
            <li>время создания поста: {{ post.created_date }}</li>
            <li>категория поста: {{ post.category_post }}</li>
        </ol>


    {% endfor %}

    {% else %}
    <h1>Постов нет</h1>>
    {% endif %}
    <a href="{% url 'get_posts' %}"><input type="button" value="назад"></a>
</body>
</html>